body {
	padding: 0;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	color: #000;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #000;
}

.header {
	padding: 92px 49px 96px 51px;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	display: flex;
	padding-right: 0;
}

.header__menu:first-child a {
	text-decoration: none;
}

.header__menu {
	padding-right: 0;
}

.list-marker {
	padding-right: 13px;
	padding-left: 13px;
}

.logo {
	margin-right: 355px;
	margin-left: 209px;
	width: 148px;
	height: 105px;
}

.logo-img {
	margin-top: -5px;
	margin-left: -3px;
}

.info__menu {
	color: #000;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24.3px;
}

.cover {
	position: relative;
	background-image: url(/images/cover.jpg);
	width: 1440px;
	height: 757px;
	background-size: cover;
}

.cover::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1440px;
	height: 757px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.text__first__left,
.text__second__center,
.text__third__right {
	display: block;
	color: #fff;
	font-size: 100px;
	font-style: normal;
	font-weight: 700;
	line-height: 115%;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	letter-spacing: 30px;
}

.cover__text {
	display: flex;
	padding-right: 50px;
	padding-top: 165px;
	padding-left: 50px;
	flex-direction: column;
	gap: 8px;
	color: #fff;
}

.text__spacing {
	letter-spacing: 60px;
}

.without__letter-spacing {
	letter-spacing: normal;
}

.text__first__left {
	text-align: left;
	letter-spacing: 2px;
}

.text__second__center {
	text-align: center;
	word-spacing: -60px;
}

.text__third__right {
	text-align: right;
}

.bottom__part {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 51px;
	margin-top: 128px;
	gap: 80px;
}

.bottom__text {
	z-index: 2;
	color: #fff;
	text-align: center;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	text-align: justify;
	word-spacing: 18px;
	position: relative;
}

.button {
	position: relative;
	padding: 12px 32px;
	border: 1px solid white;
	font-size: 22px;
	color: white;
	text-transform: uppercase;
	font-weight: lighter;
	background-color: transparent;
	z-index: 2;
}

.lots-heading {
	margin-top: 180px;
	margin-left: 90px;
	margin-bottom: 27px;
	color: #000;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 47px;
	text-transform: uppercase;
}

.block-container {
	margin-top: 27px;
	display: flex;
	justify-content: space-between;
	gap: 25px;
	margin-left: 50px;
	margin-right: 50px;
}

.block__left {
	position: relative;
	background-image: url(/images/card-lot-01.jpg);
	width: 430px;
	height: 450px;
	background-size: cover;
}

.block__center {
	position: relative;
	background-image: url(/images/card-lot-02.jpg);
	width: 430px;
	height: 450px;
	background-size: cover;
}

.block__right {
	position: relative;
	background-image: url(/images/card-lot-03.jpg);
	width: 430px;
	height: 450px;
	background-size: cover;
}

.block__left,
.block__center,
.block__right {
	padding-top: 50px;
	padding-right: 40px;
	padding-left: 40px;
}

.block__left::before,
.block__center::before,
.block__right::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.block-content {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	line-height: 26.4px;
	text-decoration-line: underline;
	text-transform: uppercase;
	z-index: 2;
	position: relative;
}

.about__first,
.about__second,
.about__third {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	position: relative;
}

.about__first {
	padding-top: 202px;
}

.about__second {
	padding-top: 30px;
}

.about__third {
	padding-top: 80px;
}

.view-more {
	padding-top: 30px;
	padding-left: 90px;
	color: #000;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
}

.about {
	margin-top: 183px;
	display: flex;
}

.logo-column {
	width: 148px;
	height: 114px;
	margin: 63px 46px;
}

.circle-background {
	width: 240px;
	height: 240px;
	background-color: #000;
	margin-left: 145px;
	border-radius: 50%;
}

.title__desc {
	margin-left: 120px;
	margin-top: 100px;
	color: #000;
	font-size: 40px;
	font-weight: 700;
	line-height: 47px;
	text-transform: uppercase;
}

.about__text_upper,
.about__text_down {
	color: #000;

	font-size: 20px;
	margin-left: 120px;
	margin-right: 50px;
	font-weight: 400;
	line-height: 23px;
}

.about__text_upper {
	padding-top: 100px;
}

.about__text_down {
	padding-top: 28px;
}

.footer {
	margin-top: 184px;
	margin-left: 50px;
	margin-right: 44px;
	margin-bottom: 90px;
}

.footer__info {
	display: flex;
	justify-content: space-between;
	gap: 355px;
}

.header__menu_footer {
	text-align: center;
	color: #000;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
}

.social__media {
	display: flex;
	width: 240px;
	height: 48px;
	gap: 45px;
}

.info__menu_footer {
	color: #000;
	font-size: 18px;
	font-weight: 400;
	line-height: 24.3px;
}

.header__menu_footer:first-child a {
	text-decoration: none;
}
